*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(img/body.jpg);
    background-size: cover;
    background-attachment: fixed;  
    background-position: top center;
    position: relative; 
}


.lyr{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .6;
    z-index: -1;
    background-image: -webkit-linear-gradient(135deg,#91d1ff 0%,#a387ff 100%);
}

.site{
    width: 75%;
    margin: auto;
}

header{
    height: 600px;
    background-image: url(img/body.jpg);
    background-position: top center;
    background-size: cover;
    position: relative;
    top: 100px;
}

.lyr2{
    width: 100%;
    height: 600px;
    position: absolute;
    opacity: .9;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #91d1ff, #a387ff);
}

nav{
    width: 100%;
    height: 90px;
    background-color: #fff;
    z-index: 2;
    display: flex;
}

.logo img{
    position: relative;
    top: 35px;
}

.menu{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
    overflow: hidden;
}

.menu ul{
    display: flex;
    align-items: center;
    position: relative;
    left: 250px;
}

/* .menu ul div{
    width: 120px;
    height: 90px;
    background-color: transparent;
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all; */


.menu ul li{
    list-style: none;
    position: relative;
    top: 30px;
    text-align: center;
}

.menu ul li a{
    font-size: 13px;
    font-weight: 600;
    color: #777777;
    text-decoration: none;
    padding: 40px;
}

.menu ul li a:hover{
    color: #fff;
    background: #a387ff;
}

.overlay{
    width: 700px;
    height: 280px;
    /* background-color: aquamarine; */
    z-index: 1;
    margin: auto;
    position: relative;
    top: 130px;
    text-align: center;
    color: #ffffff;
}

.overlay span{
    font-size: 36px;
    font-weight: 600;
}

.overlay h1{
    font-size: 36px;
    font-weight: 100;
    position: relative;
    top: 10px;
}

.overlay p{
    font-size: 14px;
    position: relative;
    top: 10px;
}

.about{
    height: 650px;
    background-color: #fff;
    display: flex;
    position: relative;
    top: 100px;
}

.sora{
    height: 567px;
    /* background-color: aqua; */
    position: relative;
    top: 70px;
}

.sora img{
    position: relative;
    left: 80px;
    height: 567px;
    width: 413px;
    outline: 10px solid #777;
    outline-offset: -54px;
    border: 44px solid transparent;
    border-width: 15px 10px 85px 85px; 
}

.desc{
    height: 400px;
    /* background-color: blueviolet; */
    position: relative;
    top: 140px;
}

.desc span{
    display: block;
    font-size: 36px;
    color: #000000;
    font-weight: 700;
}

.desc h1{
    font-weight: 100;
    color: #a387ff;
    font-size: 36px;
    position: relative;
    top: 10px;
}

.desc p{
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 15px;
}

.desc a{
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    position: relative;
    top: 30px;
}

.desc a:hover{
    color: #a387ff;
}

.feature{
    height: 700px;
    background-image: linear-gradient(to bottom right, #91d1ff, #a387ff);
}

.featurearea{
    width: 90%;
    height: 500px;
    margin: auto;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.area{
    height: 240px;
}

.area div{
    width: 320px;
    height: 230px;
    background-color: #fff;
    padding: 20px;
}

.area h2{
    font-size:16px;
    font-weight: 600;
    position: relative;
    top: 25px;
}

.area p{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    position: relative;
    top: 40px;
}

.num{
    width: 100%;
    height: 300px;
    background-color: #fff;
    text-align: center;
}

.num h2{
    position: relative;
    top: 130px;
    font-weight: 600;
    font-size: 48px;
    color: #000000;
}

.num p{
    position: relative;
    top: 130px;
    font-size: 24px;
    font-weight: 100;
    color: #a387ff;
}

.services{
    width: 100%;
    height: 700px;
    background: rgb(249, 250, 255);
}

.img{
    width: 350px;
    position: relative;
    top: 50px;
}

.img img{
    width: 100%;
}

.div{
    width: 350px;
    height: 280px;
    position: relative;
    top: 70px;
}

.div h2{
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

.div p{
    font-size: 13.3px;
    color: #777777;
    margin-left: 10px;
    position: relative;
    top: 10px;
}

.div .a{
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin-top: 100px;
}

.div .a a{
    color: rgb(163, 135, 255);
    font-weight: 600;
    font-size: 14px;
    padding: 15px;
    text-decoration: none;
}

.div .a a:hover{
    color: #777777;
}

.r{
    position: relative;
    top: 80px;
}

.count{
    width: 68px;
    height: 160px;
}

.count h1{
    font-size: 48px;
    color: #a387ff;
    font-weight: 600;
}

.c2{
    width: 280px;
    height: 160px;
    position: relative;
}

.c2 h2{
    font-size: 16px;
    position: absolute;
    top: 15px;
    left: 5px;
}

.c2 p{
    font-size: 14px;
    position: absolute;
    top: 45px;
    left: 5px;
    text-align: left;
    color: #777777;
    font-weight: 500;
}

.prefooter{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom right, #91d1ff, #a387ff);
}

.sub{
    width: 70%;
    height: 158px;
    margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 80px;
   color: #fff;
}

.sub h2{
    font-size: 36px;
    font-weight: 600;
}

.sub h3{
    font-weight: 100;
    font-size: 36px;
}

.sub span{
    font-size: 14px;
    font-weight: 500;
}

.sub div{
    width: 570px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.sub div input , a{
    height: 50px;
    padding: 0%;
}

.sub div input{
    width: 60%;
    outline: #fff;
    border: #fff;
}

.sub div a{
    width: 150px;
    height: 40px;
    padding: 7px;
    background-image: linear-gradient(to bottom right, #91d1ff, #a387ff);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: 5px;
    left: 10px;
}

footer{
    width: 100%;
    height: 250px;
    background-color: #fff;
    margin-bottom: 100px;
}

.menulist{
    width: 470px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: relative;
    top: 50px;
    left: 220px;
}

.menulist li{
    list-style: none;
}

.menulist a{
    text-decoration: none;
    color: #777777;
    font-weight: bold;
}

.menulist a:hover{
    color: #a387ff;
}

.social{
    width: 20%;
    height: 20px;
    position: relative;
    top: 100px; 
    right: 370px;
}

.social ul{
    display: flex;
    justify-content: space-between;
}

.social ul li{
    list-style: none;
}

.social ul li a{
    color: #777777;
}

.social ul li a:hover{
    color: #a387ff;
}

.copy{
    position: relative;
    top: 160px;
    margin: auto;
}